In [43]:
#importing packages
import pandas as pd
import numpy as np

In [44]:
# import file with data
path='dataset/cars_engage_2022.csv'
df = pd.read_csv(path)

In [45]:
df.head()

,Make,Model,Variant,Ex-Showroom_Price(Rs),Displacement(cc),Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Emission_Norm,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,Tata,Nano Genx,Xt,292667,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,236447,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,296661,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,334768,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,272223,624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
#dropping columns in which more than two-third the data is Null
df.replace("?", np.NaN, inplace = True)
missing_data = df.isnull()
rows=df.shape[0]
for c in missing_data.columns.values.tolist():
    if(missing_data[c].values.sum()>2*rows/3):
        #drop column
        df=df.drop(columns=c)

In [47]:
df.shape

(1276, 114)

In [48]:
# filling false in null values of boolean type columns
cols=df.columns
for c in cols:
    if(df[c].nunique()<=1):
        df[c].fillna(value=False, inplace=True)

In [49]:
df.dtypes

Make                         object
Model                        object
Variant                      object
Ex-Showroom_Price(Rs)         int64
Displacement(cc)            float64
                             ...
Rain_Sensing_Wipers            bool
Leather_Wrapped_Steering       bool
Automatic_Headlamps            bool
ASR_Traction_Control           bool
Cruise_Control                 bool
Length: 114, dtype: object

In [50]:
# filling mean in null values of float type columns
for c in cols:
    if(df[c].dtype==float):
        print(c)
        mean=df[c].mean()
        df[c].fillna(value=round(mean,0), inplace=True)

Displacement(cc)
Cylinders
Valves_Per_Cylinder
Fuel_Tank_Capacity(litres)
Height(mm)
Length(mm)
Width(mm)
Doors
City_Mileage(km/litre)
Highway_Mileage(km/litre)
ARAI_Certified_Mileage(km/litre)
Kerb_Weight(Kg)
Ground_Clearance(mm)
Front_Track(mm)
Rear_Track(mm)
Seating_Capacity
Wheelbase
Boot_Space(Litres)
Minimum_Turning_Radius(meter)
Number_of_Airbags

In [51]:
# filling mode in null values of object type columns
for c in cols:
    if(df[c].dtype==object):
        print(c)
        df.fillna(value="Not Specified", inplace=True)

Make
Model
Variant
Drivetrain
Cylinder_Configuration
Emission_Norm
Engine_Location
Fuel_System
Fuel_Type
Body_Type
Gears
Front_Brakes
Rear_Brakes
Front_Suspension
Rear_Suspension
Front_Tyre_&_Rim
Rear_Tyre_&_Rim
Power_Steering
Power_Windows
Keyless_Entry
Power
Torque
Odo
Speedo
Tacho
Trip
Seats_Material
Type
Wheels_Size
12v_Power_Outlet
Audiosystem
Basic_Warranty
Boot-lid_Opener
Clock
Cup_Holders
Door_Pockets
Extended_Warranty
Fuel-lid_Opener
Fuel_Gauge
Handbrake
Instrument_Console
Sun_Visor
Third_Row_AC_Vents
Ventilation_System
Headlight_Reminder
Adjustable_Headrests
Gross_Vehicle_Weight
Airbags
Adjustable_Steering_Column
Parking_Assistance
Infotainment_Screen
Multifunction_Steering_Wheel
Seat_Height_Adjustment
Rear_Center_Armrest

In [52]:
# since we are making a model to predict Price
# the rows with Ex-Showroom_Price as null can be dropped
df.dropna(subset=['Ex-Showroom_Price(Rs)'], axis=0, inplace=True)

In [53]:
if(df.isnull().sum().sum()==0):
    print("There are no null values in dataframe")

There are no null values in dataframe

In [54]:
# saving non_null data
df.to_csv('dataset/no_null_df.csv')

In [55]:
# normalization
cols=df.columns
for c in cols:
    if(df[c].dtype==float):
        df[c] = (df[c]-df[c].min())/(df[c].max()-df[c].min())
        print(c)

Displacement(cc)
Cylinders
Valves_Per_Cylinder
Fuel_Tank_Capacity(litres)
Height(mm)
Length(mm)
Width(mm)
Doors
City_Mileage(km/litre)
Highway_Mileage(km/litre)
ARAI_Certified_Mileage(km/litre)
Kerb_Weight(Kg)
Ground_Clearance(mm)
Front_Track(mm)
Rear_Track(mm)
Seating_Capacity
Wheelbase
Boot_Space(Litres)
Minimum_Turning_Radius(meter)
Number_of_Airbags

In [56]:
#making dummy variables for catagorical variables
print(df.shape)

for c in cols:
    if(df[c].dtype==object):
        dummy_variable = pd.get_dummies(df[c])
        cols1=dummy_variable.columns
        for c1 in cols1:
            dummy_variable.rename(columns={c1:c+"_"+c1}, inplace=True)
        df = pd.concat([df, dummy_variable], axis=1)
        df.drop(c, axis = 1, inplace=True)

print(df.shape)

(1276, 114)
(1276, 3849)

In [57]:
# saving cleaned data
df.to_csv('dataset/clean_df.csv')